<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete City</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        a:hover {
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Remove city</h1>
    <form action="/city/remove" method="post" th:object="${city}">
        <input type="hidden" name="id" th:value="*{id}">
        <h3 th:text="${'Confirm remove country: ' +city.name}"></h3>
        <button type="submit" class="btn btn-danger">Remove</button>
        <button type="button" class="btn btn-secondary"><a href="/city" style="color: white;">Back</a></button>
    </form>
</div>
</body>
</html>